<body class="nav-md">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/fonts/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/animate.min.css">
  <link rel="stylesheet" href="/assets/css/icheck/flat/green.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="stylesheet" href="/assets/css/floatexamples.css">
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/ion.rangeSlider.css">
  <link rel="stylesheet" href="/assets/css/ion.rangeSlider.skinFlat">
  <div class="container body">
<%= render partial: "shared/flash_messages", flash: flash %>
<%= render "partials/sidenav" %>
<%= render "partials/topnav" %>

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Plain Page</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_title">
            <h2>Plain Page</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!--Test Page specific JS -->
<%= render "partials/footer" %>
</div>
</body>
<script src="/assets/js/jquery.min.js" charset="utf-8"></script>
<script src="/assets/js/bootstrap.min.js" charset="utf-8"></script>
<script src="/assets/js/flot/jquery.flot.js" charset="utf-8"></script>
<script src="/assets/js/flot/jquery.flot.pie.js" charset="utf-8"></script>
<script src="/assets/js/flot/jquery.flot.orderBars.js" charset="utf-8"></script>
<script src="/assets/js/flot/jquery.flot.time.min.js" charset="utf-8"></script>
<script src="/assets/js/flot/date.js" charset="utf-8"></script>
<script src="/assets/js/flot/jquery.flot.spline.js" charset="utf-8"></script>
<script src="/assets/js/flot/jquery.flot.stack.js" charset="utf-8"></script>
<script src="/assets/js/flot/curvedLines.js" charset="utf-8"></script>
<script src="/assets/js/flot/jquery.flot.resize.js" charset="utf-8"></script>
<script src="/assets/js/progressbar/bootstrap-progressbar.min.js" charset="utf-8"></script>
<script src="/assets/js/icheck/icheck.min.js" charset="utf-8"></script>
<script src="/assets/js/moment/moment.min.js" charset="utf-8"></script>
<script src="/assets/js/datepicker/daterangepicker.js" charset="utf-8"></script>
<script src="/assets/js/chartjs/chart.min.js" charset="utf-8"></script>
<script src="/assets/js/pace/pace.min.js" charset="utf-8"></script>
<script src="/assets/js/nprogress.js" charset="utf-8"></script>
<%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => true %>
