<div class="right_col" role="main">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>카테고리 목록 <small>수정, 추가, 제거</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">

        <table id="datatable_category" class="table table-striped responsive-utilities jambo_table dt-responsive nowrap" width="100%">
          <thead>
            <tr class="headings">
              <th>
                <input type="checkbox" id="check-all" class="flat" disabled>
              </th>
              <th class="column-title">영문명 </th>
              <th class="column-title">한글명 </th>
              <th class="column-title">표시 등급 </th>
              <th class="column-title">리다이렉트 주소 </th>
              <th class="column-title no-link last"><span class="nobr">Action</span>
              </th>
              <th class="bulk-actions" colspan="7">
                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
              </th>
            </tr>
          </thead>

          <tbody>
            <% @category.each do |category|%>
            <tr class="even pointer">
              <td class="a-center ">
                <input type="checkbox" class="flat" name="table_records">
              </td>
              <td class=" "><%=category.route%></td>
              <td class=" "><%=category.name%></td>
              <td class=" "><%=category.read_level%></td>
              <td class=" "><%=category.default%></i></td>
              <td class=" last"><a href="#">Edit</a>
              </td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>게시판 목록 <small>수정, 추가, 제거</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">

        <table id="datatable_board" class="table table-striped responsive-utilities jambo_table dt-responsive nowrap" width="100%">
          <thead>
            <tr class="headings">
              <th>
                <input type="checkbox" id="check-all" class="flat2" disabled>
              </th>
              <th class="column-title">카테고리 명 </th>
              <th class="column-title">영문명 </th>
              <th class="column-title">한글명 </th>
              <th class="column-title">최근 글 표시</th>
              <th class="column-title">댓글 사용</th>
              <th class="column-title">읽기 등급 </th>
              <th class="column-title">쓰기 등급 </th>
              <th class="column-title">템플릿 명</th>
              <th class="column-title no-link last"><span class="nobr">Action</span>
              </th>
              <th class="bulk-actions" colspan="7">
                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
              </th>
            </tr>
          </thead>

          <tbody>
            <% @board.each do |board|%>
            <tr class="even pointer">
              <td class="a-center ">
                <input type="checkbox" class="flat2" name="table_records">
              </td>
              <td class=" "><%=board.category.name%></td>
              <td class=" "><%=board.route%></td>
              <td class=" "><%=board.name%></td>
              <td class=" "><%=board.show_last%></td>
              <td class=" "><%=board.show_comment%></td>
              <td class=" "><%=board.read_level%></td>
              <td class=" "><%=board.write_level%></td>
              <td class=" "><%=board.template%></td>
              <td class=" last"><a href="#">Edit</a>
              </td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Datatables-->
  <script src="/js/datatables/jquery.dataTables.min.js"></script>
  <script src="/js/datatables/dataTables.bootstrap.js"></script>
  <script src="/js/datatables/dataTables.buttons.min.js"></script>
  <script src="/js/datatables/buttons.bootstrap.min.js"></script>
  <script src="/js/datatables/jszip.min.js"></script>
  <script src="/js/datatables/pdfmake.min.js"></script>
  <script src="/js/datatables/vfs_fonts.js"></script>
  <script src="/js/datatables/buttons.html5.min.js"></script>
  <script src="/js/datatables/buttons.print.min.js"></script>
  <script src="/js/datatables/dataTables.fixedHeader.min.js"></script>
  <script src="/js/datatables/dataTables.keyTable.min.js"></script>
  <script src="/js/datatables/dataTables.responsive.min.js"></script>
  <script src="/js/datatables/responsive.bootstrap.min.js"></script>
  <script src="/js/datatables/dataTables.scroller.min.js"></script>
 <style>
 table th {
   cursor: pointer;
 }
 </style>

  <script type="text/javascript">
  $(document).ready(function() {
    $('#datatable_category').DataTable();
    $('#datatable_board').DataTable();
    $('input.flat2').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass: 'iradio_flat-green'
    });
  });
  </script>
</div>
