<link rel="stylesheet" href="/css/board.css">
<!--게시글 목록 시작-->
<% if (can? :create, @article.last)%>
<div style="width: 100%;">
<a href="/board/<%=@category.route%>/<%=@board.route%>/create" style="float:right">새글 쓰기</a>
</div>
<%end%>
<table class="table table-hover article_list" style="margin: 90px auto 0;">
  <thead>
    <tr>
      <td class="th" style="text-align: left;">#</td>
      <td class="th" style="text-align: left;">제목</td>
      <td class="th">글쓴이</td>
      <td class="th">날짜</td>
      <td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></td>
    </tr>
  </thead>
  <tbody>
    <%@article_page.each do |article|%>
    <tr class="<%if article.id == params[:id].to_i %>selected<%end%>">
      <td class="td_number" scope="row"><%=article.id%></th>
      <td class="td_title"><a href="/board/<%=article.board.category.route%>/<%=article.board.route%>/<%=article.id%>"><%=article.title%></a></td>
      <td class="td_name"><%=article.member_name%></td>
      <td class="td_date"><span class='hidden-xs'><%=article.created_at.strftime("%Y.")%></span><%=article.created_at.strftime("%m.%d")%></td>
      <td class="td_page_view"><%=Statistic.where(name: "read_article", target_id: article.id).length%></td>
    </tr>
    <%end%>
  </tbody>
</table>
<!--게시글 목록 끝-->
<nav aria-label="Page navigation" style="text-align: center;">
  <%= will_paginate @article_page %>
</nav>

</style>
<script>
/* 모바일 무한 스크롤 */
var page = parseInt($("nav div em").html())
$("#board").scroll(function() {
  console.log($("#board").scrollTop(),Math.round($("#board").scrollTop()), $("#article").height()- $(window).height()+100);
    if (Math.round($("#board").scrollTop()) >= $("#article").height() - $(window).height()+99) {
      console.log(++page);
loading = $('<div id="loading" class="load" style="display: none;"><span><img src="http://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif" alt="cargando..."/></span></div>');
$('table.article_list').after(loading);
loading.fadeIn();
$.ajax({
  type: 'GET',
  url: window.location.href + "?page="+page,
  dataType: 'json',
  data: {json:true},
  success: (function(data) {
    return loading.fadeOut(function() {
      var html = ""
      $.each(data,function(index, article) {
        var datetime = new Date(article.created_at)
        console.log(datetime,datetime.getYear())
        html += '<tr>'+
        '<td class="td_number" scope="row">'+article.id+'</th>'+
        '<td class="td_title"><a href="/board/'+window.location.pathname.split("/")[2]+'/'+window.location.pathname.split("/")[3]+'/'+article.id+'">'+article.title+'</a></td>'+
        '<td class="td_name">'+article.member_name+'</td>'+
        '<td class="td_date"><span class="hidden-xs">'+datetime.getFullYear()+'.</span>'+datetime.getMonth()+"."+datetime.getDate()+'</td>'+
        '<td class="td_page_view">'+article.view+'</td>'+
        '</tr>'
      });
      $('table.article_list tbody').append(html);
      $('.load').remove()
      return loading.remove();
    });
  })
});
}
});
</script>
