<link rel="stylesheet" href="/css/board.css">
<!--게시글 목록 시작-->
<% if (can? :create, @article.last)%>
<div style="width: 100%;">
<a href="/board/<%=@category.route%>/<%=@board.route%>/create" style="width: 100px; padding: 7px; margin: 0px auto 90px; display: block; text-align: center; font-size: 18px; border: 1px solid #dddddd;">새글 쓰기</a>
</div>
<%end%>
<table class="table table-hover article_list">
  <thead>
    <tr style="font-size: 20px;">
      <td class="th" style="text-align: left;">#</td>
      <td class="th" style="font-weight: bolder;text-align: left;">제목</td>
      <td class="th">글쓴이</td>
      <td class="th">날짜</td>
      <td style="font-size:15px;line-height:35px;border-bottom: 1px solid #000000;text-align:center"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></td>
    </tr>
  </thead>
  <tbody>
    <%@article_page.each do |article|%>
    <tr class="<%if article.id == params[:id].to_i %>selected<%end%>">
      <td scope="row"><%=article.id%></th>
      <td><a href="/board/<%=article.board.category.route%>/<%=article.board.route%>/<%=article.id%>"><%=article.title%></a></td>
      <td><%=article.member_name%></td>
      <td><span class='hidden-xs'><%=article.created_at.strftime("%Y.")%></span><%=article.created_at.strftime("%m.%d")%></td>
      <td><%=Statistic.where(name: "read_article", target_id: article.id).length%></td>
    </tr>
    <%end%>
  </tbody>
</table>
<!--게시글 목록 끝-->
<nav aria-label="Page navigation" style="text-align: center;">
  <%= will_paginate @article_page, previous_label: "◀", next_label: "▶" %>
</nav>

<style type="text/css">
  nav div span, nav div em, nav div a {
    border: none !important;
  }
  nav div span, nav div em:hover, nav div a:hover {
    background-color: transparent !important;
    color: #ddd !important
  }
  nav .previous_page, nav .next_page {
    color: #ddd !important;
  }
  nav div em {
    color: rgb(90, 210, 210) !important;
  }

</style>
