<link rel="stylesheet" href="/css/board.css">
<!--게시글 목록 시작-->
<% if (can? :create, @article.last)%>
<div style="width: 100%;">
<a href="/board/<%=@category.route%>/<%=@board.route%>/create" style="width: 100px; padding: 7px; margin: 0px auto; display: block; text-align: center; font-size: 18px; border: 1px solid #dddddd;">새글 쓰기</a>
</div>
<%end%>
<table class="table table-hover article_list" style="max-width: 950px; margin: 90px auto;">
  <thead>
    <tr style="font-size: 20px;">
      <td class="th" style="text-align: left;">#</td>
      <td class="th" style="font-weight: bolder;text-align: left;">제목</td>
      <td class="th">글쓴이</td>
      <td class="th">날짜</td>
      <td style="font-size:15px;line-height:35px;border-bottom: 1px solid #000000;text-align:center"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></td>
    </tr>
  </thead>
  <tbody>
    <%@article_page.each do |article|%>
    <tr class="<%if article.id == params[:id].to_i %>selected<%end%>">
      <td class="td_number" scope="row"><%=article.id%></th>
      <td class="td_title"><a href="/board/<%=article.board.category.route%>/<%=article.board.route%>/<%=article.id%>"><%=article.title%></a></td>
      <td class="td_name"><%=article.member_name%></td>
      <td class="td_date"><span class='hidden-xs'><%=article.created_at.strftime("%Y.")%></span><%=article.created_at.strftime("%m.%d")%></td>
      <td><%=Statistic.where(name: "read_article", target_id: article.id).length%></td>
    </tr>
    <%end%>
  </tbody>
</table>
<!--게시글 목록 끝-->
<nav aria-label="Page navigation" style="text-align: center;">
  <%= will_paginate @article_page, previous_label: "◀", next_label: "▶" %>
</nav>

<style type="text/css">
  @media only screen and (max-width: 700px) {
    #title {
      font-size: 40px;
    }

    table {
      margin-top: 20px !important;
    }
    thead {
      display: none;
    }
    tbody {
      overflow: none;
    }
    tr {
      width: 100%;
      display: inline-block;
      border-bottom: 1px solid #dddddd !important;
      position: relative;
    }
    tr:hover {
      background-color: #f5f5f5;
    }
    tr:first-child {
      border-top: 1px solid #dddddd !important;
    }
    td {
      display: block;
      padding: 0px !important;
      border: none !important;
    }
    .td_number {
      display: none;
    }
    .td_title {
      width: 75%;
      margin: 50px 0 25px 25px;
      float: left;
      font-size: 18px;
    }
    .td_name {
      width: auto !important;
      position: absolute !important;
      top: 22px !important;
      right: 25px !important;
    }
    .td_date {
      width: auto !important;
      position: absolute !important;
      top: 22px !important;
      left: 25px !important;
    }

    nav {
      display: none;
    }
  }
</style>