<div id="title_small">휴즈의 추억이 담긴 사진들이 모여 있는 사진첩입니다</div>
<% if (can? :create, @article.last)%>
	<a href="/board/<%=@category.route%>/<%=@board.route%>/create"><input type="button" id="write" value="사진 업로드"></a>
<%end%>
<!--게시글 목록 시작-->
    <%@article_page.each do |article|%>
		<a href="/board/<%=article.board.category.route%>/<%=article.board.route%>/<%=article.id%>">
		<div class="container1 <%if article.id == params[:id].to_i %>selected<%end%>">
			<div class="photo">
				<%if article.uploadfiles.take%>
				<img src="<%=article.uploadfiles.take.url%>" align="center">
				<%end%>
			</div>
			<div class="text">
				<span><%=article.title%><br><%=article.created_at.strftime("%Y.%m.%d")%></span>
			</div>
		</div>
		</a>
    <%end%>
		<hr style="clear:both">
<!--게시글 목록 끝-->
<nav aria-label="Page navigation" style="text-align: center;">
  <%= will_paginate @article_page, previous_label: "<", next_label: ">" %>
</nav>

<style type="text/css">
	#title_small {
		width: 100%;
		margin: 0px auto;
		font-size: 16px;
		text-align: center;
	}

	#write {
		width: 110px;
		height: 40px;
		margin: 30px auto 40px auto;
		border: 1px solid #dddddd;
		background-color: #ffffff;
 		display: block;
 		text-align: center;
 		font-size: 18px;
	}

	.container1 {
		width: 190px;
		height: 190px;
		margin: 0px 10px 10px 0px;
		border: 1px solid #aaaaaa;
		background-color: #dddddd;
		display: inline-block;
		float: left;
		position: relative;
	}

	.photo {
		width: 100%;
		height: 100%;
		padding: 0px;
		display: block;
	}

	.photo img {
		width: 100%;
	}

	.text {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 0%;
		left: 0%;
	}
	.text span {
		width: 100%;
		margin-top: 74px;
		text-align: center;
		display: block;
		color: #ffffff;
	}
</style>
