<section id="main-slider" class="sub carousel">
  <div class="black-glass"></div>
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1><%=params[:sended]%></h1>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.carousel-inner-->
</section><!--/#main-slider-->
<div class="container box">
<form name="write_article" action="/<%=params[:sended]%>/write" method="post">
  <div class="form-group has-feedback">
    <input type="text" name="title" class="form-control" placeholder="제목" value="<%if params[:title] != nil%><%=params[:title]%><%end%>" required>
  </div>
  <textarea id="edit" name="content" required>
    <%if params[:content] != nil%>
    <%=params[:content]%>
    <%end%>
  </textarea>
  <input type="hidden" name="post_id" value="<%=params[:id]%>">
  <input type="hidden" name="member_id" value="<%=current_member.id%>">
  <button type="submit" class="btn btn-default" onclick="validateForm()">작성</button>
</form>
</div>

<script>
    $(function() {
        $('#edit').froalaEditor({
        heightMax: 500,
        imageUploadURL: '/upload_image',
        imageUploadParam: 'file'
      })
    });
    function validateForm() {
      var x = document.forms["write_article"]["title"].value;
      if (x == null || x == "") {
          document.forms["write_article"].classList.add("has-error");
          return false;
      }
  }
</script>
