<%= stylesheet_link_tag 'article'%>
<%= javascript_include_tag 'application'%>

<div class="container box">
  <%if params[:post_id]%><!-- UPDATE POST-->
  <form name="update_article" action="/board/<%=params[:category]%>/<%=params[:board]%>/<%=params[:post_id]%>/write" method="post">
  <input type="hidden" name="post_id" value="<%=params[:post_id]%>">
  <%else%><!--CREATE POST-->
  <form name="write_article" action="/board/<%=params[:category]%>/<%=params[:board]%>/write" method="post">
  <%end%>
  <div class="form-group has-feedback"><!--제목-->
    <input type="text" name="title" class="form-control" placeholder="제목" value="<%if params[:title] != nil%><%=params[:title]%><%end%>" required>
  </div>
  <!--내용-->
  <textarea id="edit" name="content" required>
    <%if params[:content] != nil%>
    <%=params[:content]%>
    <%end%>
  </textarea>
  <input type="hidden" name="member_id" value="<%=current_member.id%>">
  <button type="submit" class="btn btn-default" onclick="validateForm()">작성</button>
</form>
</div>

<script>
    $(function() {
        $('#edit').froalaEditor({
        heightMax: 1500,
        imageUploadURL: '/upload_image',
        imageUploadParam: 'file',
        imageUploadParams: {
          post_id: '<%= params[:post_id] %>',
        },
        fileUploadURL: '/upload_file',
        fileUploadParam: 'file',
        fileUploadParams: {
          post_id: '<%= params[:post_id] %>',
        }
      })
    });
    function validateForm() {
      var x = document.forms["write_article"]["title"].value;
      if (x == null || x == "") {
          document.forms["write_article"].classList.add("has-error");
          return false;
      }
  }
</script>
