<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<section id="main-slider" class="sub carousel" data-spy="affix" data-offset-top="140">
  <div class="black-glass"></div>
  <div class="navigation-bar">네비게이션</div>
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1 style="text-transform: capitalize;">변수보라우</h1>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.carousel-inner-->
</section><!--/#main-slider-->
<div class="container box button-list">
  <h1>보기</h1>
  <a href="/db/restore?category=238">공지사항</a><br>
  <a href="/db/restore?category=5793">자유게시판</a><br>
  <a href="/db/restore?category=160">회원게시판</a><br>
  <h1>집어넣기</h1>
  <a href="/db/restore?category=238&do=yes">공지사항</a><br>
  <a href="/db/restore?category=5793&do=yes">자유게시판</a><br>
  <a href="/db/restore?category=160&do=yes">회원게시판</a><br>
<%@boardxml1.each do |doc|%>
  <!--자유게시판: 5793, 회원게시판: 160, 임원회의록: 166-->
  <%if doc.at('module_srl').text == params[:category] || !params[:category]%>
  <%if doc.at('document_srl').text == params[:id] || !params[:id]%>
  글쓴이: <%=doc.at('nick_name').text%><br>
  제목: <%=doc.at('title').text%><br>
  분류: <%=doc.at('module_srl').text%><br>
  첨부: <%=doc.at('uploaded_count').text%><br>
  쓴날짜: <%=doc.at('regdate').text.to_time%><br>
  업데이트 날짜: <%=doc.at('last_update').text.to_time%><br>
    <%if doc.at('uploaded_count').text != '0'%>
    <%@attach.each do |att|%>
      <%if att.at('upload_target_srl').text == doc.at('document_srl').text%>
        <a href="<%=att.at('uploaded_filename').text[1..-1]%>"><%=att.at('source_filename').text%></a><br>
      <%end%>
    <%end%>
    <%end%>
  <%end%>
  <%end%>
<%end%>
</div>
