		<div id="page">
			<div id="main_title">
				<strong>User Report</strong>
				<div id="button">
					<input type="button">
					<input type="button">
					<input type="button">
				</div>
			</div>
			<hr>
			<div id="wrapper">
				<div id="profile_left">
					<div id="photo">
						<div id="image"></div>
					</div>
					<div id="explain">
						<div id="name"><%=current_member.username%></div>
						<hr>
						<div id="detail_wrapper">
							<div class="detail">학과: <%=current_member.major.name%></div>
							<div class="detail">학번: 15</div>
							<div class="detail">기수: <%=current_member.senior_number%></div>
							<div class="detail">생년월일: 1996.03.25</div>
							<div class="detail">스터디: X</div>
							<div class="detail">특이사항: X</div>
							<div class="detail">연락처: <%=current_member.tel%></div>
							<input type="button" id="edit" value="프로필 수정">
						</div>
					</div>
				</div>
				<div id="profile_right">
					<div id="container">
						<div id="container_title">
							<span>활동 내역</span>
							<select>
								<option value="1">111</option>
								<option value="2">222</option>
								<option value="3">333</option>
							</select>
						</div>
						<div id="graph">
							<div id="graph_left">
								<div class="number">400</div>
								<div class="number">300</div>
								<div class="number">200</div>
								<div class="number">100</div>
								<div class="number">0</div>
							</div>
							<div id="graph_right">
								<hr class="line" value="400">
								<hr class="line" value="300">
								<hr class="line" value="200">
								<hr class="line" value="100">
								<hr class="line" value="0">
								<div id="m1" class="stick" value="30"></div>
								<div id="m2" class="stick" value="60"></div>
								<div id="m3" class="stick" value="90"></div>
								<div id="m4" class="stick" value="120"></div>
								<div id="m5" class="stick" value="150"></div>
								<div id="m6" class="stick" value="180"></div>
								<div id="m7" class="stick" value="210"></div>
								<div id="m8" class="stick" value="240"></div>
								<div id="m9" class="stick" value="270"></div>
								<div id="m10" class="stick" value="300"></div>
								<div id="m11" class="stick" value="330"></div>
								<div id="m12" class="stick" value="360"></div>
							</div>
							<div id="graph_footer">
								<div class="month rotate">Jan</div>
								<div class="month rotate">Feb</div>
								<div class="month rotate">Mar</div>
								<div class="month rotate">Apr</div>
								<div class="month rotate">May</div>
								<div class="month rotate">Jun</div>
								<div class="month rotate">Jul</div>
								<div class="month rotate">Ang</div>
								<div class="month rotate">Sep</div>
								<div class="month rotate">Oct</div>
								<div class="month rotate">Sep</div>
								<div class="month rotate">Dec</div>
							</div>
						</div>
					</div>
					<div id="board">
						<div id="tap">
							<div class="tap_button button_clicked" id="button_1">댓글</div>
							<div class="tap_button vertical_line" id="button_2">게시글</div>
							<div class="tap_button vertical_line" id="button_3">출석</div>
						</div>
						<table>
							<tr>
								<td class="table_1">☆</td>
								<td class="table_2"><a href="#">네! 알겠습니다. 내일동방에서 봐요!!<a/></td>
								<td class="table_3"><a href="#">원문보기<a/></td>
								<td class="table_4">16.12.30</td>
							</tr>
							<tr>
								<td class="table_1">☆</td>
								<td class="table_2"><a href="#">네! 알겠습니다. 내일동방에서 봐요!!<a/></td>
								<td class="table_3"><a href="#">원문보기<a/></td>
								<td class="table_4">16.12.30</td>
							</tr>
							<tr>
								<td class="table_1">☆</td>
								<td class="table_2"><a href="#">네! 알겠습니다. 내일동방에서 봐요!!<a/></td>
								<td class="table_3"><a href="#">원문보기<a/></td>
								<td class="table_4">16.12.30</td>
							</tr>
							<tr>
								<td class="table_1">☆</td>
								<td class="table_2"><a href="#">네! 알겠습니다. 내일동방에서 봐요!!<a/></td>
								<td class="table_3"><a href="#">원문보기<a/></td>
								<td class="table_4">16.12.30</td>
							</tr>
						</table>
						<nav aria-label="Page navigation" style="text-align: center;">
							<div class="pagination">
								<a href="#">◀︎</a>
								<a href="#">1</a>
								<a href="#" class="selected">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">►</a>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

<style type="text/css">

	#html {
		width: 1267px;
		max-width: 1267px;
		background-color: #eeeeee;
		display: inline-block;
	}

	#page {
		max-width: 1300px;
		height: 700px;
		background-color: #ffffff
	}

	#page #main_title {
		width: 1220px;
		margin: 20px 0 0 30px;
	}
	#page #main_title strong {
		margin-left: 7px;
		color: #000000;
		font-size: 20px;
		display: inline-block;
	}
	#page #main_title #button {
		margin-right: 17px;
		float: right;
	}

	#page hr {
		width: 170px;
		height: 2px;
		margin: 0px;
		background-color: rgb(90, 210, 210);
		border: none;
	}

	#page #wrapper {
		margin: 40px 0px 0px 33px;
	}

	#page #profile_left {
		width: 280px;
		height: 600px;
		float: left;
	}
	#page #profile_left #photo {
		width: 258px;
		height: 258px;
		padding: 10px;
		border: 2px solid #dddddd;
		border-radius: 5px;
	}
	#page #profile_left #photo #image {
		width: 254px;
		height: 254px;
		border: 2px solid #ffffff;
		border-radius: 5px;
		background: url("http://www.aspirehire.co.uk/aspirehire-co-uk/_img/profile.svg") no-repeat center;
	}

	#page #profile_left #explain {
		width: 100%;
		margin-top: 10px;
		color: #000000;
	}
	#page #profile_left #explain #name {
		margin-top: 40px;
		text-align: center;
		font-size: 27px;
	}
	#page #profile_left #explain hr {
		width: 180px;
		margin: -2px auto 40px;
	}
	#page #profile_left #explain #detail_wrapper {
		width: 200px;
		margin: 0px auto;
	}
	#page #profile_left #explain .detail {
		margin-bottom: 5px;
		display: block;
		font-size: 15px;
	}
	#page #profile_left #explain #edit {
		margin-top: 8px;
		width: 100px;
		padding: 2px;
		border: 1px solid #dddddd;
		background-color: #ffffff;
		font-size: 14px;
	}
	#page #profile_left #explain #edit:hover {
		cursor: pointer;
	}
	#page #profile_left #explain #edit span {
		margin-top: 2px;
		display: inline-block;
	}

	#page #profile_right {
		float: left;
		margin-left: 30px;
    width:0
	}
	#container {
		width: 800px;
		height: 380px;
		padding: 30px 45px 50px;
		background-color: rgb(220, 248, 248);
	}
	#container #container_title {
		height: 40px;
		margin-bottom: 30px;
	}
	#container #container_title span {
		font-size: 38px;
	}
	#container #container_title select {
		width: 270px;
		height: 24px;
		margin-right: 10px;
		float: right;
		display: inline-block;
	}

	#container #graph {
		width: 750px;
		height: 280px;
		margin-bottom: 40px;
		padding: 25px 20px 15px;
		background-color: #ffffff;
	}
	#container #graph #graph_left {
		width: 40px;
		height: 240px;
		float: left;
		position: relative;
	}
	#container #graph #graph_left .number {
		width: 22px;
		margin-right: 7px;
		text-align: right;
		font-size: 12px;
		position: absolute;
	}
	#container #graph #graph_right {
		width: 710px;
		height: 240px;
		    position: absolute;
	}
	#container #graph #graph_right .stick {
		width: 33px;
		background-color: green;
		position: absolute;
		bottom: 0%;
	}
	#container #graph #graph_right .line {
		width: 100%;
		height: 1px;
		background-color: #cccccc;
		position: absolute;
	}
	#container #graph #graph_footer {
		width: 750px;
		height: 40px;
		clear: both;
		float: right;
		position: relative;
	}
	#container #graph #graph_footer .month {
		width: 33px;
		text-align: center;
		position: absolute;
		top: 12px;
	}

	#page #board {
		width: 800px;
		margin-top: 15px;
		padding: 20px 45px;
	}
	#page #board #tap {
		width: 880px;
		margin-bottom: 13px;
	}
	#board #tap .tap_button {
		padding: 2px 17px;
		font-size: 15px;
		display: inline-block;
		text-align: center;
		cursor: pointer;
	}
	#board #tap .button_clicked {
		color: rgb(90, 210, 210);
	}
	#board table {
		width: 100%;
		margin-top: 25px;
	}
	#board table tr td {
		padding: 2px 0;
		border-bottom: 1px solid #dddddd;
	}
	#board nav {
		margin-top: 20px;
	}

	.vertical_line {
		border-left: 1px solid #000000;
	}

	.rotate {
		/* Safari */
		-webkit-transform: rotate(-45deg);
		/* Firefox */
		-moz-transform: rotate(-45deg);
		/* IE */
		-ms-transform: rotate(-45deg);
		/* Opera */
		-o-transform: rotate(-45deg);
		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}

</style>

<script type="text/javascript">
	var numberArray = document.getElementsByClassName('number');
	for(var i=0, t=-3; i<numberArray.length; i++)
	{
		var number = numberArray[i];
		number.style.top = t + '%';
		t += 25;
	}

	var lineArray = document.getElementsByClassName('line');
	for(var i=0, t=0; i<lineArray.length; i++)
	{
		var line = lineArray[i];
		line.style.top = t + '%';
		t += 25;
	}

	var graphMAXHeight = document.getElementById('graph_right').clientHeight;
	var graphStickArray = document.getElementsByClassName('stick');
	for(var i=0, left=16; i<graphStickArray.length; i++)
	{
		var graphStick = graphStickArray[i];
		graphStick.style.left = left + 'px';
		left += 58;
		graphStick.style.height = graphStick.getAttribute('value')*graphMAXHeight/400 + 'px';
	}

	var monthArray = document.getElementsByClassName('month');
	for(var i=0, left=57; i<monthArray.length; i++)
	{
		var month = monthArray[i];
		month.style.left = left + 'px';
		left += 58;
	}
</script>

<!--
<aside class="profile-card">
  <header>
    <a target="_blank" href="/image_crop/new">
      <img src="<%=current_member.image_url%>" class="hoverZoomLink">
    </a>

    <h1>
      <%=current_member.username%>
    </h1>

    <h2>
      <%@role = ["외부인: 가입 미승인 상태","준회원: 휴즈 신입회원, 및 정회원 승격 이전","정회원: 휴즈의 자랑스러운 회원","졸업생:이미 학교를 졸업한 HAS 소속 회원"]%>
      <%=@role[current_member.role]%>
      <%=if current_member.staff then"<br>임원진".html_safe end%>
      <%=if current_member.admin then "<br>사이트 관리자".html_safe end%>
    </h2>
    <a href="/members/edit">정보 수정하기</a>
  </header>

  <div class="profile-bio">
    <div class="row">
      <div class="col-md-4">
        <h3>댓글</h3>
        <table class="table table-hover article_list">
        <thead>
          <tr>
            <th>#</th>
            <th>내용</th>
            <th>날짜</th>
          </tr>
        </thead>
        <tbody>
        <%@comment.each do |x|%>
        <tr>
          <th scope="row"><%=@comment.index(x)+1%></th>
          <td><a href="#"><%=x.body%></a></td>
          <td><span class='hidden-xs'><%=x.created_at.strftime("%Y.")%></span><%=x.created_at.strftime("%m.%d")%></td>
        </tr>
        <%end%>
        </tbody>
      </table>
      </div>
      <div class="col-md-4">
        <h3>게시글</h3>
        <table class="table table-hover article_list">
        <thead>
          <tr>
            <th>#</th>
            <th>내용</th>
            <th>날짜</th>
          </tr>
        </thead>
        <tbody>
        <%@article.each do |x|%>
        <tr>
          <th scope="row"><%=@article.index(x)+1%></th>
          <td><a href="/board/<%=x.board.category.route%>/<%=x.board.route%>/<%=x.id%>"><%=x.title%></a></td>
          <td><span class='hidden-xs'><%=x.created_at.strftime("%Y.")%></span><%=x.created_at.strftime("%m.%d")%></td>
        </tr>
        <%end%>
        </tbody>
      </table>
      </div>
      <div class="col-md-4">
        dd
      </div>
    </div>

  </div>
</aside>
<style>
  html {
  height: 100%;
  }

  body {
  overflow: hidden;
  background: #bcdee7 url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font: normal 14px/1.618em "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  }

  body:before {
  content: "";
  height: 0px;
  padding: 0px;
  border: 130em solid #313440;
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 2;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  }

  h1,
  h2 {
  font-weight: 500;
  margin: 0px 0px 5px 0px;
  }

  h1 {
  font-size: 24px;
  }

  h2 {
  font-size: 16px;
  }

  p {
  margin: 0px;
  }

  .profile-card {
  background: #FFB300;
  width: 80vw;
  height: 70vh;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: scroll;
  opacity: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }
  .profile-card::-webkit-scrollbar {
    display: none;
  }
  .profile-card header {
  width: 179px;
  height: 280px;
  padding: 40px 20px 30px 20px;
  display: inline-block;
  float: left;
  border-right: 2px dashed #EEEEEE;
  background: #FFFFFF;
  color: #000000;
  margin-top: 50px;
  opacity: 0;
  text-align: center;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
  }

  .profile-card header h1 {
  color: #FF5722;
  }

  .profile-card header a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 25px 30px;
  }

  .profile-card header a > img {
  width: 120px;
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  }

  .profile-card header a:hover > img {
  -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
  }

  .profile-card .profile-bio {
  width: 175px;
  height: 180px;
  display: inline-block;
  float: right;
  padding: 50px 20px 30px 20px;
  background: #FFFFFF;
  color: #333333;
  margin-top: 50px;
  text-align: center;
  opacity: 0;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
  }

  .profile-social-links {
  width: 218px;
  display: inline-block;
  float: right;
  margin: 0px;
  padding: 15px 20px;
  background: #FFFFFF;
  margin-top: 50px;
  text-align: center;
  opacity: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
  }

  .profile-social-links li {
  list-style: none;
  margin: -5px 0px 0px 0px;
  padding: 0px;
  float: left;
  width: 25%;
  text-align: center;
  }

  .profile-social-links li a {
  display: inline-block;
  color: red;
  width: 24px;
  height: 24px;
  padding: 6px;
  position: relative;
  overflow: hidden!important;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  }

  .profile-social-links li a i {
  position: relative;
  z-index: 1;
  }

  .profile-social-links li a img,
  .profile-social-links li a svg {
  width: 24px;
  }

  @-webkit-keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
  }

  @keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
  }

  @-webkit-keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
  }

  @keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
  }

  @-webkit-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    -webkit-border-radius: 0px;
  }
  }

  @keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
  }

  @-webkit-keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
  }

  @keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
  }

  @-webkit-keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #E0E0E0;
  }
  }

  @keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #E0E0E0;
  }
  }

  @-webkit-keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    -webkit-border-radius: 4px;
  }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    -webkit-border-radius: 4px;
  }
  }

  @keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 4px;
  }
  }

  @-webkit-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
  }

  @keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
  }

  @-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
  }

  @keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
  }

  @-webkit-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
  }

  @keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
  }

  @media screen and (min-aspect-ratio: 4/3) {
  body {
    background-size: cover;
  }
  body:before {
    width: 0px;
  }
  @ -webkit-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  }

  @media screen and (min-height: 480px) {
  .profile-card header {
    width: auto;
    height: auto;
    padding: 30px 20px;
    display: block;
    float: none;
    border-right: none;
  }
  .profile-card .profile-bio {
    width: auto;
    height: auto;
    padding: 15px 20px 30px 20px;
    display: block;
    float: none;
  }
  .profile-social-links {
    width: 100%;
    display: block;
    float: none;
  }
  @ -webkit-keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      -webkit-border-radius: 4px;
    }
    100% {
      width: 80vw;
      height: 70vh;
      background: #FFFFFF;
      -webkit-border-radius: 4px;
    }
  }
  @keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      border-radius: 4px;
    }
    100% {
      width: 80vw;
      height: 70vh;
      background: #FFFFFF;
      border-radius: 4px;
    }
  }
  }
</style>-->
