<div id="login">
	<div id="login_logo">
		<span>HUHS</span>
		Hanyang University<br>Hardware & Software
	</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "submit_form"}) do |f| %>
  <div class="field">
    <!--<%= f.label :email %><br />-->
    <%= f.email_field :email, autofocus: true, placeholder: "ID", class: "text text_login", onkeyup: "check(this);" %>
  </div>

  <div class="field">
    <!--<%= f.label :password %><br />-->
    <%= f.password_field :password, autocomplete: "off" , placeholder: "PW", class: "text text_login", onkeyup: "check(this);"%>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field" style="margin: 0px 0 0 163px;">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "LOGIN", class: "button_login",id:"button", onkeydown: "check(this);" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</center>
</div>


<style type="text/css">
	html, body {
		margin: 0px;
		padding: 0px;
	}

	#login {
		width: 580px;
		height: 320px;
		margin: 100px auto;
	}

	#login_logo {
		margin: 0px auto;
		color: #62E0DD;
		text-align: center;
		font-size: 27px;
	}
	#login_logo span {
		display: block;
		color: rgb(90, 210, 210);
		font-size: 100px;
		font-weight: bolder;
	}

	#submit_form {
		width: 100%;
		margin-top: 30px;
	}
  #submit_form input{
    transition: .3s;
  }
	#submit_form .text {
		width: 272px;
		height: 48px;
    margin: 0 auto 8px;
		padding: 0px 13px;
		border: 1px #79E8E6 solid;
		display: block;
		font-size: 23px;
		text-align: center;
	}
	#submit_form .text_default {
		background-color: #ffffff;
		color: #79E8E6;
	}
	#submit_form .text_login {
		background-color: #79E8E6;
		color: #ffffff;
	}
	#submit_form #button {
		width: 272px;
		height: 50px;
		margin: 70px auto 15px;
		border: 1px #79E8E6 solid;
		border-radius: 7px;
		text-align: center;
		line-height: 40px;
		font-size: 20px;
		font-weight: bolder;
		display: block;
	}
	#submit_form .button_default {
		background-color: #79E8E6;
		color: #ffffff;
	}
	#submit_form .button_login {
		background-color: #ffffff;
		color: #79E8E6;
	}
	#submit_form #button:hover {
		cursor: pointer;
	}

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    	color: #fff;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: #fff;
	   opacity: 1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: #fff;
	   opacity: 1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color: #fff;
	}
</style>

<script type="text/javascript">
	var inputTextArray = document.getElementsByClassName('text');
  var inputButton = document.getElementById('button');

	function check(ob)
	{
    if (document.getElementsByClassName('text')[0].value.length * document.getElementsByClassName('text')[1].value.length) {
      inputButton.className = "button_default";
      $(inputTextArray).attr('class', "text text_default");
    }else {
      inputButton.className = "button_login";
      $(inputTextArray).attr('class', "text text_login");
    }
	}
</script>
