<!DOCTYPE html>
<html>
<head>
  <title>Huhs.net</title>
  <script src="/js/jquery-1.12.4.min.js"></script>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/prettyPhoto.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <script src="/js/respond.min.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="/images/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
  <link rel="stylesheet" href="/fonts/nanum-square-r.css">
</head>

<body>
  <div id="index">
    <div class="menu-toggle">
		<div class="one"></div>
		<div class="two"></div>
		<div class="three"></div>
	  </div>
    <div id="logo">
      <a href="/">
        <h2> HUHS </h2>
        <span class="logo_detail">Hanyang University<br>Hardware & Software</span>
      </a>
    </div>
    <div id="log_in">
      <% if member_signed_in? %>
        <div style="text-align:center;padding:10px 14px">
          <div id="profile_wrapper">
            <div id="profile_left" style="background:url(<%=current_member.image_url%>);background-size: auto 100%;"></div>
            <div id="profile_right">
              <a href="/profile"><%= current_member.senior_number %>기 <%= current_member.username %></a>
              <div><%= link_to "로그아웃", destroy_member_session_path, method: :get, data: { confirm: "Are you sure?" } %></div>
            </div>
          </div>
        </div>
      <% else %>
        <div style="text-align:center;padding:30px;font-size:20px;"><%= link_to "로그인", new_member_session_path %></div>
      <% end %>
    </div>
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">

          <%Category.where(default: nil).each do |category|%>
          <%if can? :read, category%>
          <li><a><%=category.name%> <span class="icon icon-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <%category.boards.each do |board|%>
              <li><a href="/board/<%=category.route%>/<%=board.route%>"><%=board.name%></a></li>
              <%end%>
            </ul>
          </li>
          <%end%>
          <%end%>
          <%Category.where.not('default' => nil).each do |category|%>
            <%if can? :read, category%>
            <li><a href="<%=category.default%>"><%=category.name%></a></li>
            <%end%>
          <%end%>
          </ul>
      </div>
    </div>
  </div>

  <div id="board">
    <%= render partial: "shared/flash_messages", flash: flash %>
    <div id="article">
      <%= yield %>
    </div>
  </div>
  <script src="/js/custom.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.isotope.min.js"></script>
  <script src="/js/jquery.prettyPhoto.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>

<style type="text/css">
  @media only screen and (min-width: 781px) and (max-width: 1140px) {
    #logo {
      font-size: 13px;
    }
    #logo h2 {
      font-size: 50px;
    }
    #profile_left {
      width: 50px;
      height: 50px;
    }
    #profile_right {
      margin: 10px 0 0 10px;
    }
    #profile_right a {
      font-size: 14px;
    }
    #profile_right div a {
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 780px) {
    #index {
      width: 100%;
      height: 100px;
      background-color: rgb(90, 210, 210);
      position: fixed;
      z-index: 999;
      overflow: visible;
    }
    .alert{
      top:100px;
    }
    #board #article {
      margin: 100px auto 0;
    }
    #res_menu {
      display: block !important;
    }
    #logo {
      width: 100%;
      margin: 6px 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    #logo a {
      display: inline-block;
    }
    #logo h2 {
      font-size: 43px;
    }
    .logo_detail {
      display: none;
    }

    #log_in {
      border: none;
      background-color: rgb(90, 210, 210);
      float: right;
    }
    #log_in div:first-child {
      padding: 0px !important;
    }
    #log_in #profile_wrapper {
      margin: 28px 15px 0 0;
    }
    #log_in #profile_left {
      width: 40px;
      height: 40px;
      float: right;
    }
    #log_in #profile_right {
      margin: 1px 8px 0 0;
      float: left;
    }
    #log_in #profile_right a {
      font-size: 13px;
      color: #ffffff;
    }
    #sidebar-menu {
      display: none;
      transition: height 1s ease;
    }
    .current-page a {
      color: rgb(90, 210, 210) !important;
    }
    .child_menu li {
      padding: 0 !important;
    }
    .child_menu li a {
      text-align: center;
    }
    .icon {
      display: none !important;
    }
    #sidebar-menu.on{
      display: block;
      margin-top: 100px;
      height:100vh;
      height:calc(100vh - 100px);
      overflow-y: scroll;
      background: white;
    }
    #sidebar-menu a, #sidebar-menu a:hover, #sidebar-menu a:active {
      color:black!important;
    }
    .menu_section>ul{
      margin:0;
    }
    .menu_section>ul>li{
      border-bottom:rgb(242,242,242) solid .5px;
    }
    .menu_section>ul.nav.side-menu>li>a{
      font-size: 22px;
      padding: 20px 15px;
      font-weight: bolder;
    }
    #sidebar-menu .menu_section>ul>li.active>a{
      color:rgb(136,233,230)!important;
      text-shadow: none;
    }
    #board {
      width: 100%;
      margin: 0;
    }
    .box {
      padding: 0 !important;
    }
    .menu-toggle {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
      color: #fff;
    }
    .one,
    .two,
    .three {
      width: 100%;
      height: 2px;
      background: #fff;
      margin: 10px auto;
      backface-visibility: hidden;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }
    .menu-toggle.on .one {
      -moz-transform: rotate(45deg) translate(7px, 7px);
      -ms-transform: rotate(45deg) translate(7px, 7px);
      -webkit-transform: rotate(45deg) translate(7px, 7px);
      transform: rotate(45deg) translate(7px, 7px);
    }
    .menu-toggle.on .three {
      -moz-transform: rotate(-45deg) translate(8px, -10px);
      -ms-transform: rotate(-45deg) translate(8px, -10px);
      -webkit-transform: rotate(-45deg) translate(8px, -10px);
      transform: rotate(-45deg) translate(8px, -10px);
    }
    .menu-toggle.on .two {
      opacity: 0;
    }
  }
  @media only screen and (max-width: 370px) {
    #log_in #profile_left {
      display: none;
    }
  }
</style>
<script type="text/javascript">
$(".menu-toggle").on('click', function() {
  $(this).toggleClass("on");
  $('#sidebar-menu').toggleClass("on");
  $("nav ul").toggleClass('hidden');
});
</script>
