<!DOCTYPE html>
<html>
<head>
  <title>Huhs.net</title>
  <script src="/js/jquery-1.12.4.min.js"></script>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/prettyPhoto.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <script src="/js/respond.min.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="/images/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>
  <div id="index">
    <a href="/">
    <div id="logo">
      <h2> HUHS </h2>
      Hanyang Hardware<br>and Software</a>
    </div>
    <div id="log_in">
      <% if member_signed_in? %>
        <div style="text-align:center;padding:20px 14px">
          <div id="profile_wrapper">
            <a id="profile_left"></a>
            <div id="profile_right">
              <a href="/profile"><%= current_member.senior_number %>기 <%= current_member.username %></a>
              <div><%= link_to "로그아웃", destroy_member_session_path, method: :get, data: { confirm: "Are you sure?" } %></div>
            </div>
          </div>
        </div>
      <% else %>
        <div style="text-align:center;padding:30px"><%= link_to "로그인", new_member_session_path %></div>
      <% end %>
    </div>
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">

          <%Category.where(default: nil).each do |category|%>
          <%if can? :read, category%>
          <li>
            <li><a><%=category.name%> <span class="icon icon-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <%category.boards.each do |board|%>
              <li><a href="/board/<%=category.route%>/<%=board.route%>"><%=board.name%></a></li>
              <%end%>
            </ul>
          </li>
          <%end%>
          <%end%>
          <%Category.where.not('default' => nil).each do |category|%>
            <%if can? :read, category%>
            <li><a href="<%=category.default%>"><%=category.name%></a></li>
            <%end%>
          <%end%>
          </ul>
      </div>
    </div>
  </div>

  <div id="board">
    <div id="article">
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= yield %>
    </div>
  </div>
  <script src="/js/custom.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.isotope.min.js"></script>
  <script src="/js/jquery.prettyPhoto.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
